Node-Red/flows.json
[{"id":"b081fd91.ebbbd","type":"tab","label":"Page Manager","disabled":false,"info":""},{"id":"3ee4a50f.d7fd0a","type":"tab","label":"DataBase","disabled":false,"info":""},{"id":"c2c8771a.4b2268","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"a5762d7.f21efd","type":"sqlitedb","db":":memory:","mode":"RWC"},{"id":"4db80d36.1f8aa4","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/waitingRoom/waitingRoom.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":420,"wires":[["8c6c16e7.a23aa8"]]},{"id":"eb6070eb.b7eda","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/waitingRoom","method":"get","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["f942f1d6.ca295"]]},{"id":"bcb7cbb6.527488","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["4db80d36.1f8aa4"]]},{"id":"785d8381.488e5c","type":"http response","z":"b081fd91.ebbbd","name":"","x":1330,"y":320,"wires":[]},{"id":"f942f1d6.ca295","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/waitingRoom/waitingRoom.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":380,"wires":[["bcb7cbb6.527488"]]},{"id":"2b5e6694.3f8c1a","type":"file in","z":"b081fd91.ebbbd","name":"CommonJS","filename":"/home/pi/TheResistance/Res/JS/common.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":770,"y":280,"wires":[["4b6851c8.78e19"]]},{"id":"2dffea04.0b7406","type":"file in","z":"b081fd91.ebbbd","name":"Stryle.css","filename":"/home/pi/TheResistance/Res/CSS/style.css","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":780,"y":320,"wires":[["a1537f3e.e9547"]]},{"id":"a6f6fde6.0d4e2","type":"change","z":"b081fd91.ebbbd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"html","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"<link rel=\"stylesheet\" href=\"../../Res/CSS/style.css\">","fromt":"str","to":"<style>s</style>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"(?<=<style>)s(?=<\\/style>)","fromt":"re","to":"styleCss","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"<script src=\"../../Res/JS/common.js\"></script>","fromt":"str","to":"<script>c</script>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"(?<=<script>)c(?=<\\/script>)","fromt":"re","to":"commonJS","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"<script src=\"[A-Za-z]+.js\"><\\/script>","fromt":"re","to":"<script>w</script>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"(?<=<script>)w(?=<\\/script>)","fromt":"re","to":"jscode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":320,"wires":[["785d8381.488e5c"]]},{"id":"8c6c16e7.a23aa8","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["2b5e6694.3f8c1a"]]},{"id":"4b6851c8.78e19","type":"change","z":"b081fd91.ebbbd","name":"Save CommonJS","rules":[{"t":"set","p":"commonJS","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":280,"wires":[["2dffea04.0b7406"]]},{"id":"a1537f3e.e9547","type":"change","z":"b081fd91.ebbbd","name":"Save Style.css","rules":[{"t":"set","p":"styleCss","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":320,"wires":[["a6f6fde6.0d4e2"]]},{"id":"e4ceabba.2eac28","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/mainMenu/mainMenu.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":260,"wires":[["5a7cda93.547cb4"]]},{"id":"f99d6b51.a39928","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/mainMenu","method":"get","upload":false,"swaggerDoc":"","x":220,"y":220,"wires":[["d99162a5.add29"]]},{"id":"4211a33.e18775c","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["e4ceabba.2eac28"]]},{"id":"d99162a5.add29","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/mainMenu/mainMenu.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":220,"wires":[["4211a33.e18775c"]]},{"id":"5a7cda93.547cb4","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["2b5e6694.3f8c1a"]]},{"id":"9f781407.3450d8","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/rootMenu/rootMenu.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":340,"wires":[["4379a1a4.b6ec9"]]},{"id":"c7223621.2198a8","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/rootMenu","method":"get","upload":false,"swaggerDoc":"","x":220,"y":300,"wires":[["6fd4e4ab.de0c9c"]]},{"id":"fd503f4a.1712a","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["9f781407.3450d8"]]},{"id":"6fd4e4ab.de0c9c","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/rootMenu/rootMenu.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":300,"wires":[["fd503f4a.1712a"]]},{"id":"4379a1a4.b6ec9","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["2b5e6694.3f8c1a"]]},{"id":"c6fd3033.bc9dc","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/createPlayer/createPlayer.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":180,"wires":[["163cf40b.c0f69c"]]},{"id":"d1e60e43.00faf","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/createPlayer","method":"get","upload":false,"swaggerDoc":"","x":230,"y":140,"wires":[["ec4edf85.76abc"]]},{"id":"ff19bbd0.060278","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["c6fd3033.bc9dc"]]},{"id":"ec4edf85.76abc","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/createPlayer/createPlayer.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":140,"wires":[["ff19bbd0.060278"]]},{"id":"163cf40b.c0f69c","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["2b5e6694.3f8c1a"]]},{"id":"a4a57b89.9935f8","type":"debug","z":"b081fd91.ebbbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":620,"wires":[]},{"id":"5a5de0b8.bc347","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/Res/:type/:content","method":"get","upload":false,"swaggerDoc":"","x":220,"y":540,"wires":[["31277ac5.bd2f06"]]},{"id":"ebd5aa2a.6ec738","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/Res/:type/:subtype/:content","method":"get","upload":false,"swaggerDoc":"","x":190,"y":580,"wires":[["31277ac5.bd2f06"]]},{"id":"1e8ebb5e.eec3a5","type":"image","z":"b081fd91.ebbbd","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":800,"y":620,"wires":[]},{"id":"c63e6c67.03d1","type":"http response","z":"b081fd91.ebbbd","name":"","x":730,"y":560,"wires":[]},{"id":"d1e00c12.cf8e7","type":"catch","z":"b081fd91.ebbbd","name":"","scope":null,"uncaught":false,"x":400,"y":680,"wires":[["982e7120.4806f"]]},{"id":"982e7120.4806f","type":"function","z":"b081fd91.ebbbd","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["c63e6c67.03d1","a4a57b89.9935f8"]]},{"id":"cb7e0905.952388","type":"file in","z":"b081fd91.ebbbd","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":560,"wires":[["c63e6c67.03d1","1e8ebb5e.eec3a5"]]},{"id":"31277ac5.bd2f06","type":"function","z":"b081fd91.ebbbd","name":"","func":"let basicURL = \"/home/pi/TheResistance/Res/\";\nlet content = msg.req.params.type + \"/\";\nif (msg.req.params.subtype) {\n    content += msg.req.params.subtype + \"/\";\n}\ncontent += msg.req.params.content;\n\nif (content.includes(\"..\")) {\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n\nmsg.filename = basicURL + content;\n\nmsg.headers = {};\n\nif (/\\.png$/.test(content)) {\n    msg.headers[\"content-type\"] = \"image/png\";\n}\nelse if (/\\.jpeg$/.test(content)) {\n    msg.headers[\"content-type\"] = \"image/jpeg\";\n}\n\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":400,"y":560,"wires":[["cb7e0905.952388"],["a4a57b89.9935f8"]]},{"id":"e024e963.c4ad88","type":"http in","z":"3ee4a50f.d7fd0a","name":"","url":"/createPlayer.php","method":"post","upload":true,"swaggerDoc":"","x":160,"y":340,"wires":[["b482030f.21609","aea19364.428f5"]]},{"id":"e4438620.8558c8","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"c749d650.a0bfb8","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"CREATE TABLE 'Players' (\n\t'pId' INTEGER PRIMARY KEY AUTOINCREMENT,\n\t'name' VARCHAR,\n\t'groupPos' INT DEFAULT NULL,\n\t'imgId' INT DEFAULT NULL,\n\t'pType' INT DEFAULT NULL\n);\nCREATE TABLE 'Imgs' (\n\t'imgId' INTEGER PRIMARY KEY AUTOINCREMENT,\n\t'img' BLOB NOT NULL\n);\nCREATE TABLE 'Opinion' (\n\t'pId' INTEGER PRIMARY KEY,\n\t'val' INTEGER DEFAULT 0\n);","name":"Create dataBase","x":410,"y":80,"wires":[[]]},{"id":"e60b12c1.93bb3","type":"inject","z":"3ee4a50f.d7fd0a","name":"","props":[{"p":"payload","v":"Started!","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"Started!","payloadType":"str","x":160,"y":80,"wires":[["c749d650.a0bfb8"]]},{"id":"32422764.0b24c8","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Add playerName to database","x":640,"y":340,"wires":[["e4438620.8558c8"]]},{"id":"3238142f.bab64c","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT * FROM Players;","name":"Elements on players List","x":370,"y":140,"wires":[["e4438620.8558c8"]]},{"id":"4fec79f9.70e158","type":"inject","z":"3ee4a50f.d7fd0a","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":140,"wires":[["3238142f.bab64c"]]},{"id":"d0a7d8c3.560628","type":"http in","z":"3ee4a50f.d7fd0a","name":"","url":"/addImg.php","method":"post","upload":true,"swaggerDoc":"","x":150,"y":460,"wires":[[]]},{"id":"9a3c8542.cc3428","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT * FROM Players;","name":"Elements on players List","x":570,"y":460,"wires":[[]]},{"id":"458f6b42.9cc684","type":"change","z":"3ee4a50f.d7fd0a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO Players ('name') values (\"NAMETOCHANGE\");","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"NAMETOCHANGE","fromt":"str","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[[]]},{"id":"b482030f.21609","type":"template","z":"3ee4a50f.d7fd0a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO Players ('name') values (\"{{payload.name}}\");","output":"str","x":360,"y":340,"wires":[["32422764.0b24c8","326457be.bbc4d8"]]},{"id":"aea19364.428f5","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.name","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":240,"wires":[]},{"id":"326457be.bbc4d8","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":280,"wires":[]}]