Node-Red/flows.json
[{"id":"b081fd91.ebbbd","type":"tab","label":"Page Manager","disabled":false,"info":""},{"id":"3ee4a50f.d7fd0a","type":"tab","label":"Add to DataBase","disabled":false,"info":""},{"id":"ae5a.fbf7e1a608","type":"tab","label":"Get to Database","disabled":false,"info":""},{"id":"c2c8771a.4b2268","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"a5762d7.f21efd","type":"sqlitedb","db":":memory:","mode":"RWC"},{"id":"4db80d36.1f8aa4","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/waitingRoom/waitingRoom.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":340,"wires":[["8c6c16e7.a23aa8"]]},{"id":"eb6070eb.b7eda","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/waitingRoom:extra","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["f942f1d6.ca295"]]},{"id":"bcb7cbb6.527488","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["4db80d36.1f8aa4"]]},{"id":"785d8381.488e5c","type":"http response","z":"b081fd91.ebbbd","name":"","x":1210,"y":240,"wires":[]},{"id":"f942f1d6.ca295","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/waitingRoom/waitingRoom.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":300,"wires":[["bcb7cbb6.527488"]]},{"id":"2b5e6694.3f8c1a","type":"file in","z":"b081fd91.ebbbd","name":"CommonJS","filename":"/home/pi/TheResistance/Res/JS/common.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":690,"y":200,"wires":[["4b6851c8.78e19"]]},{"id":"2dffea04.0b7406","type":"file in","z":"b081fd91.ebbbd","name":"Stryle.css","filename":"/home/pi/TheResistance/Res/CSS/style.css","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":700,"y":240,"wires":[["a1537f3e.e9547"]]},{"id":"a6f6fde6.0d4e2","type":"change","z":"b081fd91.ebbbd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"html","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"<link rel=\"stylesheet\" href=\"../../Res/CSS/style.css\">","fromt":"str","to":"<style>s</style>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"(?<=<style>)s(?=<\\/style>)","fromt":"re","to":"styleCss","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"<script src=\"../../Res/JS/common.js\"></script>","fromt":"str","to":"<script>c</script>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"(?<=<script>)c(?=<\\/script>)","fromt":"re","to":"commonJS","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"<script src=\"[A-Za-z]+.js\"><\\/script>","fromt":"re","to":"<script>w</script>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"(?<=<script>)w(?=<\\/script>)","fromt":"re","to":"jscode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":240,"wires":[["785d8381.488e5c"]]},{"id":"8c6c16e7.a23aa8","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["2b5e6694.3f8c1a"]]},{"id":"4b6851c8.78e19","type":"change","z":"b081fd91.ebbbd","name":"Save CommonJS","rules":[{"t":"set","p":"commonJS","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["2dffea04.0b7406"]]},{"id":"a1537f3e.e9547","type":"change","z":"b081fd91.ebbbd","name":"Save Style.css","rules":[{"t":"set","p":"styleCss","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":240,"wires":[["a6f6fde6.0d4e2"]]},{"id":"e4ceabba.2eac28","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/mainMenu/mainMenu.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":180,"wires":[["5a7cda93.547cb4"]]},{"id":"f99d6b51.a39928","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/mainMenu:extra","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["d99162a5.add29"]]},{"id":"4211a33.e18775c","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":140,"wires":[["e4ceabba.2eac28"]]},{"id":"d99162a5.add29","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/mainMenu/mainMenu.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":140,"wires":[["4211a33.e18775c"]]},{"id":"5a7cda93.547cb4","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["2b5e6694.3f8c1a"]]},{"id":"9f781407.3450d8","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/rootMenu/rootMenu.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":260,"wires":[["4379a1a4.b6ec9"]]},{"id":"c7223621.2198a8","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/rootMenu:extra","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["6fd4e4ab.de0c9c"]]},{"id":"fd503f4a.1712a","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["9f781407.3450d8"]]},{"id":"6fd4e4ab.de0c9c","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/rootMenu/rootMenu.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":220,"wires":[["fd503f4a.1712a"]]},{"id":"4379a1a4.b6ec9","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["2b5e6694.3f8c1a"]]},{"id":"c6fd3033.bc9dc","type":"file in","z":"b081fd91.ebbbd","name":"JS","filename":"/home/pi/TheResistance/Client/createPlayer/createPlayer.js","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":100,"wires":[["163cf40b.c0f69c"]]},{"id":"d1e60e43.00faf","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/createPlayer","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["ec4edf85.76abc"]]},{"id":"ff19bbd0.060278","type":"change","z":"b081fd91.ebbbd","name":"Save HTML","rules":[{"t":"set","p":"html","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":60,"wires":[["c6fd3033.bc9dc"]]},{"id":"ec4edf85.76abc","type":"file in","z":"b081fd91.ebbbd","name":"HTML","filename":"/home/pi/TheResistance/Client/createPlayer/createPlayer.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":60,"wires":[["ff19bbd0.060278"]]},{"id":"163cf40b.c0f69c","type":"change","z":"b081fd91.ebbbd","name":"Save JS","rules":[{"t":"set","p":"jscode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["2b5e6694.3f8c1a"]]},{"id":"a4a57b89.9935f8","type":"debug","z":"b081fd91.ebbbd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":557,"y":556,"wires":[]},{"id":"5a5de0b8.bc347","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/Res/:type/:content","method":"get","upload":false,"swaggerDoc":"","x":140,"y":460,"wires":[["31277ac5.bd2f06"]]},{"id":"ebd5aa2a.6ec738","type":"http in","z":"b081fd91.ebbbd","name":"","url":"/Res/:type/:subtype/:content","method":"get","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["31277ac5.bd2f06"]]},{"id":"1e8ebb5e.eec3a5","type":"image","z":"b081fd91.ebbbd","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":false,"pass":false,"outputs":0,"x":778,"y":560,"wires":[]},{"id":"c63e6c67.03d1","type":"http response","z":"b081fd91.ebbbd","name":"","x":730,"y":496,"wires":[]},{"id":"d1e00c12.cf8e7","type":"catch","z":"b081fd91.ebbbd","name":"","scope":null,"uncaught":false,"x":400,"y":620,"wires":[["982e7120.4806f"]]},{"id":"982e7120.4806f","type":"function","z":"b081fd91.ebbbd","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":547,"y":620,"wires":[["c63e6c67.03d1","a4a57b89.9935f8"]]},{"id":"cb7e0905.952388","type":"file in","z":"b081fd91.ebbbd","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":495,"wires":[["c63e6c67.03d1","1e8ebb5e.eec3a5"]]},{"id":"31277ac5.bd2f06","type":"function","z":"b081fd91.ebbbd","name":"","func":"let basicURL = \"/home/pi/TheResistance/Res/\";\nlet content = msg.req.params.type + \"/\";\nif (msg.req.params.subtype) {\n    content += msg.req.params.subtype + \"/\";\n}\ncontent += msg.req.params.content;\n\nif (content.includes(\"..\")) {\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n\nmsg.filename = basicURL + content;\n\nmsg.headers = {};\n\nif (/\\.png$/.test(content)) {\n    msg.headers[\"content-type\"] = \"image/png\";\n}\nelse if (/\\.jpeg$/.test(content)) {\n    msg.headers[\"content-type\"] = \"image/jpeg\";\n}\n\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["cb7e0905.952388"],["a4a57b89.9935f8"]]},{"id":"e024e963.c4ad88","type":"http in","z":"3ee4a50f.d7fd0a","name":"","url":"/createPlayer.php","method":"post","upload":true,"swaggerDoc":"","x":140,"y":360,"wires":[["991c8d.2321337"]]},{"id":"c749d650.a0bfb8","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"CREATE TABLE 'Players' (\n\t'pId' INTEGER PRIMARY KEY AUTOINCREMENT,\n\t'name' VARCHAR,\n\t'groupPos' INT DEFAULT NULL,\n\t'imgId' INT DEFAULT NULL,\n\t'pType' INT DEFAULT NULL\n);\n","name":"Create Players table","x":306,"y":58,"wires":[["e7ed17ba.a6a948"]]},{"id":"e60b12c1.93bb3","type":"inject","z":"3ee4a50f.d7fd0a","name":"","props":[{"p":"payload","v":"Started!","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"Started!","payloadType":"str","x":126,"y":58,"wires":[["c749d650.a0bfb8"]]},{"id":"32422764.0b24c8","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Add playerName to Players table","x":820,"y":360,"wires":[["aeccccbe.c3651"]]},{"id":"3238142f.bab64c","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT * FROM Players;","name":"Elements on players List","x":336,"y":118,"wires":[["22d63c4a.f482f4"]]},{"id":"4fec79f9.70e158","type":"inject","z":"3ee4a50f.d7fd0a","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":116,"y":118,"wires":[["3238142f.bab64c"]]},{"id":"d0a7d8c3.560628","type":"http in","z":"3ee4a50f.d7fd0a","name":"","url":"/addImg.php","method":"post","upload":true,"swaggerDoc":"","x":130,"y":540,"wires":[["fcfb0ba9.194ce8"]]},{"id":"b482030f.21609","type":"template","z":"3ee4a50f.d7fd0a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO Players ('name') values (\"{{user}}\");","output":"str","x":600,"y":360,"wires":[["32422764.0b24c8","326457be.bbc4d8"]]},{"id":"aea19364.428f5","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"user","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":300,"wires":[]},{"id":"326457be.bbc4d8","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"bebbf5c3.e6f7c8","type":"template","z":"3ee4a50f.d7fd0a","name":"Create response for user device","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Player created: {{user}}","output":"str","x":1090,"y":420,"wires":[["6a7be78a.149938"]]},{"id":"774f65e9.5f368c","type":"template","z":"3ee4a50f.d7fd0a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE Players SET imgId = {{imgId}} WHERE name = '{{user}}';","output":"str","x":600,"y":660,"wires":[["fb454f3c.efa6c","fd20bcb.a36124"]]},{"id":"aeccccbe.c3651","type":"template","z":"3ee4a50f.d7fd0a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT pId FROM Players WHERE name = '{{user}}'","output":"str","x":600,"y":420,"wires":[["171f5cd2.8a69c3","326457be.bbc4d8"]]},{"id":"991c8d.2321337","type":"change","z":"3ee4a50f.d7fd0a","name":"Save UserName as msg.user","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[["aea19364.428f5","b482030f.21609"]]},{"id":"171f5cd2.8a69c3","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Add playerName to opinion table","x":810,"y":420,"wires":[["bebbf5c3.e6f7c8"]]},{"id":"fcfb0ba9.194ce8","type":"change","z":"3ee4a50f.d7fd0a","name":"Save UserName as msg.user","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["28669bc.9a6eb64","7ffcd778.3affd8"]]},{"id":"28669bc.9a6eb64","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"user","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":480,"wires":[]},{"id":"7ffcd778.3affd8","type":"template","z":"3ee4a50f.d7fd0a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO Imgs (img) VALUES('{{payload.img}}');","output":"str","x":600,"y":540,"wires":[["f54947a0.9a6978"]]},{"id":"f54947a0.9a6978","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Add img to database","x":780,"y":540,"wires":[["8677721.93dc99"]]},{"id":"8677721.93dc99","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT imgId FROM Imgs ORDER BY imgId desc limit 1;","name":"Get imgId from new Img","x":650,"y":600,"wires":[["b906b32d.704ab"]]},{"id":"b906b32d.704ab","type":"change","z":"3ee4a50f.d7fd0a","name":"Save imgId","rules":[{"t":"set","p":"imgId","pt":"msg","to":"payload[0].imgId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":600,"wires":[["5d1d133d.cefdfc","774f65e9.5f368c"]]},{"id":"5d1d133d.cefdfc","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"imgId","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":480,"wires":[]},{"id":"22d63c4a.f482f4","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":536,"y":178,"wires":[]},{"id":"c6dd8369.83d07","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT * FROM Imgs;","name":"Elements on Imgs List","x":326,"y":178,"wires":[["22d63c4a.f482f4"]]},{"id":"89c682dc.10d91","type":"inject","z":"3ee4a50f.d7fd0a","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":116,"y":178,"wires":[["c6dd8369.83d07"]]},{"id":"ef757fa9.1b623","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT * FROM Opinion;","name":"Elements on Opinion List","x":336,"y":238,"wires":[["22d63c4a.f482f4"]]},{"id":"75fcac30.a40d84","type":"inject","z":"3ee4a50f.d7fd0a","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":116,"y":238,"wires":[["ef757fa9.1b623"]]},{"id":"e7ed17ba.a6a948","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"CREATE TABLE 'Imgs' (\n\t'imgId' INTEGER PRIMARY KEY AUTOINCREMENT,\n\t'img' BLOB NOT NULL\n);","name":"Create Imgs table","x":516,"y":58,"wires":[["695efddd.b56fb4"]]},{"id":"695efddd.b56fb4","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"CREATE TABLE 'Opinion' (\n\t'pId' INTEGER PRIMARY KEY,\n\t'val' INTEGER DEFAULT 0\n);","name":"Create Opinion table","x":726,"y":58,"wires":[[]]},{"id":"fb454f3c.efa6c","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"fixed","sql":"SELECT imgId FROM Imgs ORDER BY imgId desc limit 1;","name":"Update imgId on Players table","x":810,"y":660,"wires":[["f47c840c.f85e88"]]},{"id":"f47c840c.f85e88","type":"template","z":"3ee4a50f.d7fd0a","name":"Create response for user device","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Img stored and linked","output":"str","x":1090,"y":660,"wires":[["6a7be78a.149938"]]},{"id":"6a7be78a.149938","type":"http response","z":"3ee4a50f.d7fd0a","name":"Send response","statusCode":"","headers":{},"x":1420,"y":660,"wires":[]},{"id":"fd20bcb.a36124","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":720,"wires":[]},{"id":"4ca8aeee.b889f","type":"http in","z":"3ee4a50f.d7fd0a","name":"","url":"/changeOpinion.php","method":"post","upload":true,"swaggerDoc":"","x":150,"y":840,"wires":[["77b9bd32.a21554"]]},{"id":"9851184b.a7b988","type":"sqlite","z":"3ee4a50f.d7fd0a","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Add playerName to Players table","x":820,"y":900,"wires":[["356bab9a.e79fe4"]]},{"id":"daa65c1c.e45b6","type":"template","z":"3ee4a50f.d7fd0a","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO Opinion (val) VALUES('{{opinion}}') WHERE pId = '{{user}}';","output":"str","x":600,"y":900,"wires":[["9851184b.a7b988","642ec068.c284f"]]},{"id":"8a9bed91.4e752","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"user","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":780,"wires":[]},{"id":"642ec068.c284f","type":"debug","z":"3ee4a50f.d7fd0a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":780,"wires":[]},{"id":"77b9bd32.a21554","type":"change","z":"3ee4a50f.d7fd0a","name":"Save UserName as msg.user","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":840,"wires":[["8a9bed91.4e752","6b9bae33.e6de"]]},{"id":"356bab9a.e79fe4","type":"template","z":"3ee4a50f.d7fd0a","name":"Create response for user device","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Succeed","output":"str","x":1110,"y":900,"wires":[["6a7be78a.149938"]]},{"id":"6b9bae33.e6de","type":"change","z":"3ee4a50f.d7fd0a","name":"Save Opinion as msg.opinion","rules":[{"t":"set","p":"opinion","pt":"msg","to":"payload.opinion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["daa65c1c.e45b6"]]},{"id":"727d62bd.bba2fc","type":"http in","z":"ae5a.fbf7e1a608","name":"","url":"/getImg.php","method":"get","upload":true,"swaggerDoc":"","x":120,"y":100,"wires":[["c76f293d.dfaa18"]]},{"id":"12ba6553.1a6b2b","type":"debug","z":"ae5a.fbf7e1a608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"c76f293d.dfaa18","type":"change","z":"ae5a.fbf7e1a608","name":"Save UserName as msg.user","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["12ba6553.1a6b2b","3f9ec98c.d24cb6"]]},{"id":"133273fe.c425cc","type":"template","z":"ae5a.fbf7e1a608","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT imgId from Players WHERE pId = '{{pId}}';","output":"str","x":540,"y":160,"wires":[["da2885c7.7ead68","959e0d13.28f9c"]]},{"id":"da2885c7.7ead68","type":"sqlite","z":"ae5a.fbf7e1a608","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Get ImgId","x":680,"y":160,"wires":[["2ce1c383.9dfc7c"]]},{"id":"2ce1c383.9dfc7c","type":"change","z":"ae5a.fbf7e1a608","name":"Save imgId","rules":[{"t":"set","p":"imgId","pt":"msg","to":"payload[0].imgId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":160,"wires":[["3265a49f.d9b71c","cee5c5ea.0516a8"]]},{"id":"3265a49f.d9b71c","type":"template","z":"ae5a.fbf7e1a608","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT img FROM Imgs WHERE imgId = '{{imgId}}';","output":"str","x":540,"y":220,"wires":[["e1c6a3af.8779d","959e0d13.28f9c"]]},{"id":"e1c6a3af.8779d","type":"sqlite","z":"ae5a.fbf7e1a608","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Get Img from ImgId","x":710,"y":220,"wires":[["cee5c5ea.0516a8"]]},{"id":"cee5c5ea.0516a8","type":"debug","z":"ae5a.fbf7e1a608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":140,"wires":[]},{"id":"3f9ec98c.d24cb6","type":"template","z":"ae5a.fbf7e1a608","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT pId from Players WHERE name = '{{user}}';","output":"str","x":540,"y":100,"wires":[["1d1d4bb1.bceae4","959e0d13.28f9c"]]},{"id":"1d1d4bb1.bceae4","type":"sqlite","z":"ae5a.fbf7e1a608","mydb":"a5762d7.f21efd","sqlquery":"msg.topic","sql":"INSERT INTO Players ('name') values (\"Jorge\");","name":"Get pId","x":680,"y":100,"wires":[["835a9544.2eb1d8"]]},{"id":"835a9544.2eb1d8","type":"change","z":"ae5a.fbf7e1a608","name":"Save pId","rules":[{"t":"set","p":"pId","pt":"msg","to":"payload[0].pId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":100,"wires":[["133273fe.c425cc","cee5c5ea.0516a8"]]},{"id":"959e0d13.28f9c","type":"debug","z":"ae5a.fbf7e1a608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":40,"wires":[]}]